@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
  background-color: #f1f1f1;
}
label
{
  margin-bottom: 0.3rem;
  font-size: 1.1rem;
  color: #112827;
}
input,textarea
{
  padding: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.371);
  border-radius: 10px;
  background-color: #f1f1f1;
}
input:focus
{
    border: 1px solid blue;
}

button
{
  user-select: none;
}